<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link href="style/shcss.css" rel="stylesheet" />
  <title>MAIN PAGE</title>
</head>

<body>
  <div class="main_title">
    <p class="main_title_text_1">스마트 안전모 시스템</p>
    <p class="main_title_text_2">SMART HARD HAT SYSTEM</p>
  </div>
  <div class="btn_section">
    <div class="btn_list">
      <div class="btn_normal" onclick="location.href='userListA.html'">현장 A</div>
      <div class="btn_normal" onclick="location.href='test.html'">현장 B</div>
      <div class="btn_normal">현장 C</div>
      <div class="btn_normal">현장 D</div>
      <div class="btn_normal">현장 E</div>
      <div class="btn_normal">현장 F</div>
    </div>
  </div>
</body>

</html>