<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/getChartData",
				dataType: "json",
				type: "GET",

				success: function (result) {
					if (result) {
                        
					}
                }
            })
        });
        
    </script>
</body>
</html>