<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd279f7aad64d95a68830694bdd2c95f"></script>
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href="style/shcss.css" rel="stylesheet">
	<title>DASHBOARD_홍길동</title>
</head>

<body>
	<div class="dashboard_title_section">
		<div class="back_btn_section_2">
			<div class="back_btn_2" onclick="location.href='userListA.html'">
				< BACK </div>
			</div>
			<div class="dashboard_title">홍길동</div>
			<div class="report_btn_section">
				<div class="report_btn">긴급 신고</div>
			</div>
		</div>
		<div id="info_list_section">
			<div id="info_section" onclick="viewTemp();">
				<div id="info_title">기온</div>
				<div class="info_value" id="user_temp">27.3 ºC</div>
			</div>
			<div id="info_section" onclick="viewHum();">
				<div id="info_title">습도</div>
				<div class="info_value" id="user_humid">45%</div>
			</div>
			<div id="info_section" onclick="viewLight();">
				<div id="info_title">광량</div>
				<div class="info_value" id="user_lightness">6032 lx</div>
			</div>
			<div style="margin:15px; box-shadow: 3px 3px 3px #DFDFDF;">
				<div id="info_title">사용자 상태</div>
				<div class="info_value" id="user_status">OFF</div>
			</div>
		</div>
		<div id="lower_section">
			<div id="graph_section">
				<canvas id="graph" height="95px"></canvas>
			</div>
			<div id="gps" height="75px"></div>
		</div>
		<script>
			var options_temp = {
				type: 'line',
				data: {
					labels: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
					datasets: [{
						label: 'Temperatures',
						data: [],
						//data: [13, 10, 8, 7, 6.5, 7, 8, 10, 12.5, 16, 20, 24, 26, 27, 27.3],
						backgroundColor: 'rgba(113, 254, 141, 0.4)',
						borderColor: 'rgba(113, 254, 141)',
						borderWidth: 1
					}]
				},
				options: {
					legend: {
						display: false
					},
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			};
			var ctx = document.getElementById('graph').getContext('2d');
			var graph = Chart.Line(ctx, options_temp);
			var options_temp = {
				label: 'Temperature',
				data: [],
				backgroundColor: 'rgba(113, 254, 141, 0.4)',
				borderColor: 'rgba(113, 254, 141)',
				borderWidth: 1
			}
			var options_hum = {
				label: "Humidity",
				data: [],
				backgroundColor: 'rgba(81, 141, 220, 0.4)',
				borderColor: 'rgba(81, 141, 220)',
				borderWidth: 1
			};
			var options_light = {
				label: 'Lightness',
				data: [],
				backgroundColor: 'rgba(255, 255, 154, 0.4)',
				borderColor: 'rgba(255, 255, 154)',
				borderWidth: 1
			};
			function insertDataOnChart(chart_data, new_data) {
				//options_light.data.shift //delete first value of array
				chart_data.data.push(new_data); // insert value last on array
				if (chart_data.data.length >= 26) {
					chart_data.data.shift();
				}
			}

			function changeData(chart, data) {
				var new_data = data.data;
				/*chart.data.datasets.push({
					data: new_data
				});*/
				chart.data.datasets.push(data);
				chart.update();
			}
			function removeData(chart, data) {
				chart.data.datasets.pop({
					data: data
				});
				chart.update();
			}

			function viewTemp() {
				removeData(graph);
				changeData(graph, options_temp);
			}

			function viewHum() {
				removeData(graph);
				changeData(graph, options_hum);
			}

			function viewLight() {
				removeData(graph);
				changeData(graph, options_light);
			}

			var socket = io.connect("http://localhost:3000");


			socket.on('msg', function (result) {
				setListValues(result.temp, result.humid, result.photoresistor, result.shock);

				insertDataOnChart(options_hum, parseFloat(result.humid).toFixed(2));
				insertDataOnChart(options_temp, parseFloat(result.temp).toFixed(2));
				insertDataOnChart(options_light, result.photoresistor);
				graph.update();
			})

			$(document).ready(function () {
				$.ajax({
					url: "/getChartData",
					dataType: "json",
					type: "GET",

					success: function (result) {
						if (result) {
							setListValues(result.temp, result.humid, result.photoresistor, result.shock);
							insertDataOnChart(options_hum, parseFloat(result.humid).toFixed(1));
							insertDataOnChart(options_temp, parseFloat(result.temp).toFixed(1));
							insertDataOnChart(options_light, result.photoresistor);
							viewTemp();
						}
					}
				})
			})

			function setListValues(temp, humid, lightness, shock) {
				$("#user_temp").html(parseFloat(temp).toFixed(1) + "ºC");
				$("#user_humid").html(parseFloat(humid).toFixed(1) + "%");
				$("#user_lightness").html(lightness + "lx");
				userStatus(temp, shock);
			}

			function userStatus(temp, shock) {
				if (shock) {
					$("#user_status").html("충격감지");
					$("#user_status").css('color', '#ED1C24');
				}

				else if (temp > 35) {
					$("#user_status").html("현장 온도 높음");
					$("#user_status").css('color', '#ED1C24');
				}

				else if (temp < 30 && !shock) {
					$("#user_status").html("양호");
					$("#user_status").css('color', '#71FE8D');
				}
			}

			var container = document.getElementById('gps');
			var options = {
				center: new kakao.maps.LatLng(33.450701, 126.570667),
				level: 3
			};

			var map = new kakao.maps.Map(container, options);

			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function (position) {
					var lat = position.coords.latitude, // latitude 위도
						lon = position.coords.longitude; // longitude 경도

					var locPosition = new kakao.maps.LatLng(lat, lon),
						message = '<div style="padding:5px;">사용자 위치</div>';

					displayMarker(locPosition, message);
				});

			} else {
				var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
					message = 'can\'t use Geolocation'

				displayMarker(locPosition, message);
			}

			function displayMarker(locPosition, message) {
				var marker = new kakao.maps.Marker({
					map: map,
					position: locPosition
				});

				var iwContent = message,
					iwRemoveable = true;

				var infowindow = new kakao.maps.InfoWindow({
					content: iwContent,
					removable: iwRemoveable
				});

				infowindow.open(map, marker);

				map.setCenter(locPosition);
			}    
		</script>
</body>

</html>