<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href="style/shcss.css" rel="stylesheet">

	<title>User List</title>
</head>

<body>
	<div class="back_btn_section_1">
		<div class="back_btn_1" onclick="location.href='index.html'">
			< BACK </div>
		</div>
		<div class="main_title" style="height:350px;">
			<p class="main_title_text_1">현장 A</p>
			<p class="main_title_address" style="margin-bottom:60px;">서울특별시 서대문구 가좌로 134</p>
		</div>
		<div class="user_list_menu_section">
			<div class="user_list_menu" style="width:100px;">번호</div>
			<div class="user_list_menu" style="width:350px;">이름</div>
			<div class="user_list_menu" style="width:350px;">온도</div>
			<div class="user_list_menu" style="width:350px;">습도</div>
			<div class="user_list_menu" style="width:350px;">광량</div>
			<div class="user_list_menu" style="width:350px;">상태</div>
		</div>
		<div class="scroll">
			<div class="user_list_section" onclick="location.href='userDashboardA.html'">
				<div class="user_list" style="width:100px;">1</div>
				<div class="user_list" style="width:350px;">홍길동</div>
				<div class="user_list" id="user_temp" style="width:350px;">27.3ºC</div>
				<div class="user_list" id="user_humid" style="width:350px;">45%</div>
				<div class="user_list" id="user_lightness" style="width:350px;">6032lx</div>
				<div class="user_list" id="user_status" style="width:350px;">양호</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">2</div>
				<div class="user_list" style="width:350px;">김길동</div>
				<div class="user_list" style="width:350px;">27.4ºC</div>
				<div class="user_list" style="width:350px;">47%</div>
				<div class="user_list" style="width:350px;">6021lx</div>
				<div class="user_list" style="width:350px;">양호</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">3</div>
				<div class="user_list" style="width:350px;">박길동</div>
				<div class="user_list" style="width:350px;">27.5ºC</div>
				<div class="user_list" style="width:350px;">46%</div>
				<div class="user_list" style="width:350px;">6022lx</div>
				<div class="user_list" style="width:350px;">충격감지</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">4</div>
				<div class="user_list" style="width:350px;">이길동</div>
				<div class="user_list" style="width:350px;">27.6ºC</div>
				<div class="user_list" style="width:350px;">44%</div>
				<div class="user_list" style="width:350px;">5866lx</div>
				<div class="user_list" style="width:350px;">양호</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">5</div>
				<div class="user_list" style="width:350px;">홍길동</div>
				<div class="user_list" style="width:350px;">27.3ºC</div>
				<div class="user_list" style="width:350px;">45%</div>
				<div class="user_list" style="width:350px;">6032lx</div>
				<div class="user_list" style="width:350px;">양호</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">6</div>
				<div class="user_list" style="width:350px;">김길동</div>
				<div class="user_list" style="width:350px;">27.4ºC</div>
				<div class="user_list" style="width:350px;">47%</div>
				<div class="user_list" style="width:350px;">6021lx</div>
				<div class="user_list" style="width:350px;">양호</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">7</div>
				<div class="user_list" style="width:350px;">박길동</div>
				<div class="user_list" style="width:350px;">27.5ºC</div>
				<div class="user_list" style="width:350px;">46%</div>
				<div class="user_list" style="width:350px;">6022lx</div>
				<div class="user_list" style="width:350px;">충격감지</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">8</div>
				<div class="user_list" style="width:350px;">이길동</div>
				<div class="user_list" style="width:350px;">27.6ºC</div>
				<div class="user_list" style="width:350px;">44%</div>
				<div class="user_list" style="width:350px;">5866lx</div>
				<div class="user_list" style="width:350px;">양호</div>
			</div>
			<div class="user_list_section">
				<div class="user_list" style="width:100px;">9</div>
				<div class="user_list" style="width:350px;">김길동</div>
				<div class="user_list" style="width:350px;">27.4ºC</div>
				<div class="user_list" style="width:350px;">47%</div>
				<div class="user_list" style="width:350px;">6021lx</div>
				<div class="user_list" style="width:350px;">양호</div>
			</div>
		</div>
		<script>
			var socket = io.connect("http://localhost:3000");

			socket.on('msg', function (result) {
				setListValues(result.temp, result.humid, result.photoresistor, result.shock);
			})

			$(document).ready(function () {
				$.ajax({
					url: "/getChartData",
					dataType: "json",
					type: "GET",
					success: function (result) {
						if (result) {
							setListValues(result.temp, result.humid, result.photoresistor, result.shock);
						}
					}
				})
			})

			function setListValues(temp, humid, lightness, shock) {
				$("#user_temp").html(parseFloat(temp).toFixed(1) + "ºC");
				$("#user_humid").html(parseFloat(humid).toFixed(1) + "%");
				$("#user_lightness").html(lightness + "lx");
				userStatus(temp, shock)
			}
			function userStatus(temp, shock) {
				if (shock) {
					$("#user_status").html("충격감지");
					$("#user_status").css('color', '#ED1C24');
				}

				else if (temp > 35) {
					$("#user_status").html("현장 온도 높음");
					$("#user_status").css('color', '#ED1C24');
				}

				else if (temp < 30 && !shock) {
					$("#user_status").html("양호");
					$("#user_status").css('color', '#71FE8D');
				}
			}
		</script>
</body>

</html>